body {
  background-color: #0D0208; /* Very dark background, almost black */
  color: #72CDA1;           /* Vibrant green text color */
  font-family: monospace;    /* Monospaced font for a terminal look */
  word-break: break-all;     /* Optional: breaks all words to simulate code flow */

}

/* Example for links to maintain the theme */
a {
  color: #00FF41; /* Brighter green for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.transaction-display{
  border-width: 5px;
  border-color: #72CDA1;
  border-style: solid;
  height: 60vh;
  width: 60vw;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bank-title{
  text-align: center;
  margin: 20px;
}

.display{
  align-items: center;
}